<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>controle-de-evento</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarAtividade</display-name>
    <servlet-name>ConsultarAtividade</servlet-name>
    <servlet-class>controlador.ConsultarAtividade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarAtividade</servlet-name>
    <url-pattern>/ConsultarAtividade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaEvento</display-name>
    <servlet-name>ConsultaEvento</servlet-name>
    <servlet-class>controlador.ConsultaEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaEvento</servlet-name>
    <url-pattern>/ConsultaEvento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaAtividade</display-name>
    <servlet-name>ConsultaAtividade</servlet-name>
    <servlet-class>controlador.ConsultaAtividade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaAtividade</servlet-name>
    <url-pattern>/ConsultaAtividade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlteraAtividade</display-name>
    <servlet-name>AlteraAtividade</servlet-name>
    <servlet-class>controlador.AlteraAtividade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlteraAtividade</servlet-name>
    <url-pattern>/AlteraAtividade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluiAtividade</display-name>
    <servlet-name>ExcluiAtividade</servlet-name>
    <servlet-class>controlador.ExcluiAtividade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluiAtividade</servlet-name>
    <url-pattern>/ExcluiAtividade</url-pattern>
  </servlet-mapping>
</web-app>